.env
uploads/*
!uploads/.gitkeep
extensions/*
!extensions/.gitkeep

# Docker & Docker Compose
.docker/
docker-compose.override.yml
docker-compose.*.yml
!docker-compose.yml

# Docker volumes & runtime data
data/
mysql-data/
directus-db-data/

# Docker logs
*.log
logs/ 